<?php
        defined('BASEPATH') OR exit('No direct script access allowed'); 
        $config = array(
                'crlf'          => "\r\n",
                'newline'       => "\r\n",
                'charset'       => 'utf-8',
                'protocol'      => 'smtp',
                'mailtype'      => 'text',
                'smtp_host'     => 'smtp.exmail.qq.com',
                'smtp_port'     => '465',
                'smtp_user'     => 'username@domain.cn',
                'smtp_pass'     => 'password',
                'smtp_crypto' => 'ssl',
        );
